page-login {
.logo{
		margin-top: 30%;
	}
	.align{
		text-align: center;
	}
	.login-btn{
		
		margin-top: 5%;
	}
	.forgot{
		text-align: center;
	}
	ion-toolbar div {
		background-color: transparent!important;
	}
}
