page-signup {
	.logo{
		margin-top: 40%;
	}
	.align{
		text-align: center;
	}
	.login-btn{
		background-color: #2AA440;
		margin-top: 5%;
	}
	ion-toolbar div{
		background-color: transparent!important;
	}
}
